<!-- product-catalog.component.html -->
<div class="container">
  <h2 class="title">Product Catalog</h2>
  <div class="filter">
    <!-- Right container with input select -->
    <div class="right-container">
      <button mat-button class="filter-button">Filter 1</button>
      <button mat-button class="filter-button">Filter 2</button>
      <button mat-button class="filter-button">Filter 3</button>
    </div>
  </div>
  <div class="grid-container">
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <!-- Add more app-product-card elements here -->
  </div>
</div>
